modules = ["nodejs-16", "web"]
[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
IDP1_PORT = "5000"
IDP1_URL = "https://bbddcaf6-380b-4e5a-b8e1-08eae44d61f9-00-2v5ggpej3d5zx.picard.replit.dev"
RP_URL = "https://deephand.github.io"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start FedCM IdP Server"

[[workflows.workflow]]
name = "Start FedCM IdP Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
